h1{
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

p{
  font-size: 80px;
  padding-right: 15%;
}

form{
  margin-left: 7%;
  font-size: 35px;
}

a :not(li){
    font-size: 25px;
}

li{
  list-style: url("images/icon.png");
  font-size: 30px;
  margin-left: 5%;
}

img{
  margin-left: 17%;
  margin-top: 17%;
}

body{
  background: url("images/book.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#fonts{
  font-family: 'Amatic SC', cursive;
}

.heading{
  padding-bottom: 10%;
  text-align: center;
  margin-top: 5%;
}
