<div id="book">
#if ( $word )
<h1 >$word.getWord()</h1>

  <ul>
    #foreach($definition in $definitions)
      <li>$definition.getDefinition()</li>
    #end
  </ul>
  <a href="/words/$word.getId()/definition/add">Add a definition</a>
  <a href="/words">Go Back to Words</a>















#else
  <h1>Word Could Not Be Found</h1>
  <img src="/images/500.png" alt="500" />

#end
</div>
