<h1>Add a Definition to $word.getWord()</h1>

<form class="form-group" action="/words/$word.getId()" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">
  <label for="definition">Add a definition to $word.getWord()</label>
  <input type="text" name="definition" id="definition">
  <button type="submit" name="button" class="btn btn-primary">Add the Definition</button>
</form>
