<h2>$word.getWord()</h2>

#foreach($definition in $definitions)
  <li>$definition.getDefinition()</li>
#end

<a href="/words/$word.getId()/definition/add">Add a definition</a>
<a href="/words">Go Back to Words</a>
